# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Matlab
*.m~
*.mat

# Python cache
__pycache__
*-checkpoint.ipynb

# Executables
*.exe
*.out
*.app

# Mesh files
*.obj
*.off
*.ply
*.msh
*.mesh
*.vtk
*.HYBRID
*.sol

# Extra directories
*.sublime-project
*.code-workspace
.vscode/
.idea/
build/
cmake-build-*/
bin*
bin_rel*
bin.nosync
build*
xcode*
3rdparty*
/data


.DS_STORE

# Plotting temporary files
python/plot.html
python/temp-plot.html



PolyFEMOptions.cmake
.cache/
docs/html
scripts/*.txt
scripts/*.json

*.pvd
*.vtu
*.hdf